@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: black;
  border-radius: 10px;
  width: 40x;
  height: 40px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
